.sidebar{
width: 18%;
min-height: 100vh;
border: 1.5px solid rgb(185, 184, 184);
border-top: 0;
font-size: max(1vw,10x);
}
.sidebar-options{
 padding-top: 50px;
 padding-left: 20%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid rgb(158, 157, 157);
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;

}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: orangered;

}
.sidebar-option:hover{
    background-color: rgb(245, 242, 242);
}
 @media (max-width:760px){
    .sidebar-option p{
        display: none;
    }
    
 }