.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
}
.navbar .logo{
    width: 160px;
    color: orangered;
    font-size: 40px;
    font-weight: 600;


}
.navbar .logo span{
    color: rgb(7, 1, 36);
} 
.navbar .logo{
    width: max(10%,80px);
}
