.appDownload{
    margin: auto auto;
    margin-top: 100px;
   font-size: max(3vw,20px);
   font: weight 500;
    text-align: center;
    
    
}
.appDownload p{
    padding-bottom: 5px;
}

.app-download-plateforms img{
   width: max(30vw,120px);
   max-width: 180px;
   cursor: pointer;
   transition: 0.5s;
}
.app-download-plateforms img:hover{
   transform: scale(1.07);
 }
.app-download-plateforms{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: max(4vw,20px);
    
}