.my-orders{
    margin: 50px 0px;
    
}
.my-orders .container{
 display: flex;
 flex-direction: column;
 gap: 20px;
 margin-top: 30px;
}
.my-orders-order{
    display: grid;
    align-items: center;
    gap: 30px;
    font-size: 14px;
     padding: 10px 20px;
     color: rgb(85, 84, 84);
     border: 1px solid orangered;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    border-radius: 4px;
}
.my-orders-order img{
    width: 50px;
}
.my-orders-order p span{
    color: rgb(247, 94, 38);
}
.my-orders-order button{
    background-color:rgb(248, 151, 116) ;
    border: none;
}
.my-orders-order button:active{
 background-color: orangered;
 color: white;
 border:1px solid white;
}

@media (max-width:900px){
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 2px;
        font-size: 13px;
    }
    .my-orders-order button{
        font-size: 10px;
        
    }

}