.list-table-format{
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding:5px 5px;
    border: 1px solid rgb(196, 194, 194);
}
.list-table-format.columns{
    background-color: rgb(235, 232, 232);
}
.list-table-format img{
    width: 50px;
}
.Removeitem{
    cursor: pointer;
}
@media (max-width:650px){
    .list-table-format{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
         gap: 15px;
    }
    .list-table-format.columns{
        display: none;
    }
}