.verify{
    min-height: 60vh;
    display: grid;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid rgb(186, 219, 231);
    border-radius: 50%;
    border-top-color: orangered;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}